*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E5D2B8;

    padding: 20px auto;
    margin: 20px;
}
.quiz1{
    height: 250px;
    width: 200px;
    background-color: #725C3A;
    padding: 20px;
    border-radius: 11px 11px 12px 12px;
    box-shadow: 0 0 10px #333;
    margin: 0 550px;
    margin-top: 220px;
}
.quiz1 .hhh{
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    color: #333;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 8px black;
}
.que1{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #333;

}
.answer{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #f8f9fa;
    border: 1px solid #333;
    border-radius: 5px 4px 5px 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.answer:hover{
    background-color: #e9ecef;
}
  /* Style for correct and wrong answers */
  .correct {
    background-color: #d4edda !important;
    border-color: #c3e6cb;
}

.wrong {
    background-color: #f8d7da !important;
    border-color: #f5c6cb;
}

#NextButton{
    display: none;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}
#scoree{
text-align: center;
font-size: 18px;
margin-top: 20px;
border: 2px solid black;
border-radius: 8px 8px 8px 8px;
box-shadow: 0 0 8px black;
}