@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(12,34,50) ;
}
.Container{
    height: 300px;
    width: 300px;
    border: 2px solid beige;
    border-radius: 21px 22px 21px 22px;
    box-shadow: 6px 6px 8px beige , -6px -6px 8px beige;
    background-color: #365563;
}
.Div1{
    font-weight: 300;
    padding: 22px;
    display: flex;
    justify-content: space-between;
}
.Div2{
    height: 300px;
    border-top: 1px solid beige;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
}
#btn1{
    height: 72px;
    width: 66px;
    padding: 6px 6px 5px 5px;
    background-color: transparent;
    box-shadow: 2px 2px 4px beige;
    cursor: pointer;
}